.boy {
  margin-top: -5.2em;
  margin-left: 1.5em;
}

@media screen and (min-width: 48em){
.boy {
margin-top: -35em;
margin-left: 0;
}
}

.picture,
.picture2 {
  height: auto;
  display: block;
  justify-content: center;
}

.picture2 {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0
}

.picture {
  position: absolute;
  margin-top: 0
}

.picture img,
.picture2 img {
  max-width: none;
  width: 95%;
}

.picture img {
  filter: drop-shadow(15px 10px 15px $color-background);
}

.picture {
  z-index: 1;
  transform: translateY(-15px);
  transition: 2s;
}
.picture:hover,
.picture:focus {
  transform: translateY(20px);
}


@media screen and (min-width: 48em){
  .picture,
  .picture2 {
    display: flex;
    top: 10em;
    left: 25em;
  }

  .picture {
    position: absolute;
    margin-top: 0;
    z-index: 1;
    transform: translateY(0px);
    transition: 2s;
  }

  .picture:hover {
    transform: translateY(50px);
  }

  .picture2 {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -6em;
  }

  .picture img,
  .picture2 img {
    max-width: none;
  }

}

.intro {
height: 100vh;
margin: 0 auto;
padding: 0;
background: $color-background;
background-size: cover;
}

.intro .inner {
 width: 100%;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5em;
}

@media screen and (min-width:48em) {
  .intro .inner {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  .content {
    width: 65%;
    margin-top: -15em;
    padding-top: 0;
    margin-left: 7em;
  }
}

.top {
  text-align: center;
  position: absolute;
  bottom: .5em;
  width: 100%;
}

.down img {
  transform: rotate(90deg);
  vertical-align: middle;
  padding: .5em;
}
