.parallax,
.parallax-2,
.parallax-3 {
  height: 500px;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -5;
}

.parallax {
  background-image: url(../images/redpencil_background2_01.jpg);
}

.parallax-2 {
background-image: url(../images/redpencil_background2_02.jpg);
}

.parallax-3 {
background-image: url(../images/redpencil_background2_03.jpg);
 }

.head1,
.head2,
.head3 {
  filter: drop-shadow(-45px 0px 5px $color-background);
}

@media screen and (min-width:48em) {
  img .head1,
  img .head2,
  img .head3 {
    max-width: none;
    height: 100%;
  }

  .head1 {
    padding-left: 25em;
  }

  .head2 {
    padding-left: 35em;
  }

  .head3 {
    padding-left: 30em;
  }
}


@media screen and (min-width: 48em){
.main-address{
    display: flex;
    justify-content: space-between;
  }
.address1 {
  width: 50%;
  padding: .5em
}
.address1 p{
  text-align: right;
  border-right: 1px solid $color-grey;
}
.address2 {
  width: 50%;
  padding: .5em;
  margin-left: -1em;
}
.address2 p{
  text-align: left;
}
}
