table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 10%;
}

@media screen and (min-width: 48em){
  table {
    margin-left: 15%;
    margin-right: 15%;
  }
}

td,
th {
  text-align: center;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: $color-grey;
}

tr:nth-child(odd) {
  background-color: #7E7474;
}

tr {
  color: $color-background;
}

th{
  background-color: $color-text-red;
  color: $color-text-main;
}
