$color-text-main: #DAD4D4;
$color-text-red: #DA0421;
$color-background: #171111;
$color-grey: #5F5757;

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext');
$font-family:'Quicksand', sans-serif;

$font-weight-main: 300;
$font-weight-bold: 500;
$font-weight-strong: 800;

$font-size-main: 14px;
$font-size-main-big: 16px;
$font-size-small: 12px;
$font-size-big: 18px;
